<div class="navbar">
    <span class="logo"><img /></span>
    <div [ngClass]="{'logged-in': isLoggedIn, 'default': !isLoggedIn}">
        @if(isLoggedIn) {
            <div class="uname"><h3>{{username}}</h3></div>
            <div class="logout">
                <button class="danger" (click)="handleLogout()">Logout</button>
            </div>
        } @else {
            <div></div>
            <div>
                <button class="register-btn">Register</button>
                <button class="login-btn">Login</button>
            </div>
        }
    </div>
</div>