<div class="create">
    <p>Add to - {{catalogName}}</p>

    <form [formGroup]="productForm" class="create-form" (submit)="createProduct()">
        <!-- <label for="name">Name</label> -->
        <input type="text" id="name" formControlName="name" placeholder="Name" />

        <!-- <label for="category">Category</label> -->
        <input type="text" id="category" formControlName="category" placeholder="Category" />

        <!-- <label for="price">Price</label> -->
        <input type="text" id="price" formControlName="price"  placeholder="Price"/>

        <div class="currency-buttons">
            <label for="INR">
                <input type="radio" id="INR" value="INR" formControlName="currency" />
                <span class="currency-name">INR</span>
            </label>

            <label for="USD">
                <input type="radio" id="USD" value="USD" formControlName="currency" />
                <span class="currency-name">USD</span>
            </label>

            <label for="EUR">
                <input type="radio" id="EUR" value="EUR" formControlName="currency" />
                <span class="currency-name">EUR</span>
            </label>

            <label for="YEN">
                <input type="radio" id="YEN" value="YEN" formControlName="currency" />
                <span class="currency-name">YEN</span>
            </label>

            <label for="AUD">
                <input type="radio" id="AUD" value="AUD" formControlName="currency" />
                <span class="currency-name">AUD</span>
            </label>

            <label for="GBP">
                <input type="radio" id="GBP" value="GBP" formControlName="currency" />
                <span class="currency-name">GBP</span>
            </label>

            <label for="KWD">
                <input type="radio" id="KWD" value="KWD" formControlName="currency" />
                <span class="currency-name">KWD</span>
            </label>
        </div>

        <!-- <label for="long-description">Long Description</label> -->
        <textarea type="text-area" id="long-description" formControlName="longDescription" placeholder="Long Description" rows="4" cols="20"></textarea>

        <!-- <label for="short-description">Short Description</label> -->
        <input type="text" id="short-description" formControlName="shortDescription" placeholder="Short Description" />

        <button type="submit">Create</button>
    </form>
</div>
