<p>Register!</p>

<div class="register-form user-form">
    <form [formGroup]="registerForm" (submit)="handleSubmit($event)">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" />

        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" />

        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />

        <button type="submit" class="submit-btn">Register</button>
    </form>
</div>
