<div class="admin-dashboard dashboard">
    <form [formGroup]="searchForm" class="search">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" />

        <label for="start-date">From</label>
        <input type="date" id="start-date" formControlName="startDate" />

        <label for="end-date">Till</label>
        <input type="date" id="end-date" formControlName="endDate" />

        <button class="search-btn" (click)="searchCatalog()">Search</button>
    </form>

    <div class="catalog-list item-list">
        @for (catalog of catalogs; track $index) {
            <div class="catalog-item item">
                <div class="catalog-header item-header">
                    <span class="name"><h1>{{catalog.name}}</h1></span>
                    <span class="category"><h3>{{catalog.activeDate}}</h3></span>
                    <span class="price"><h3>{{catalog.totalItems}}</h3></span>
                </div>
                <div class="catalog-info item-info">
                    <button type="add-product">Add Product</button>
                    <button class="show-more">Show Products</button>
                </div>
            </div>
        }
    </div>

    <div><button class="add-catalog">Add Catalog</button></div>
</div>
