<div class="admin-dashboard dashboard">
    <form [formGroup]="searchForm" class="search">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" />

        <label for="start-date">From</label>
        <input type="date" id="start-date" formControlName="startDate" />

        <label for="end-date">Till</label>
        <input type="date" id="end-date" formControlName="endDate" />

        <button class="search-btn" (click)="searchCatalog()">Search</button>
    </form>

    <div class="catalog-list item-list">
        @for (catalog of catalogs; track $index) {
            <div class="catalog-item item">
                <div class="catalog-header item-header">
                    <span class="name"><h1>{{catalog.name}}</h1></span>
                    <span class="category"><h3>{{catalog.activeDate}}</h3></span>
                    <span class="price"><h3>{{catalog.totalItems}}</h3></span>
                </div>
                <div class="catalog-info item-info">
                    @if(catalogActiveId != catalog.id) {
                        <button class="add-product" (click)="handleAddProduct(catalog.id, catalog.name)">Add Product</button>
                    } @else {
                        <button class="cancel-product" (click)="handleAddProduct(catalog.id, catalog.name)">Cancel</button>
                    }
                    <button class="show-more" [routerLink]="['/catalog', catalog.id]">Show Products</button>
                    @if(catalog.deletedAt == null) {
                        <button class="delete-item-btn" (click)="handleDeleteCatalog(catalog.id, $index)">Delete</button>
                    } @else {
                        <button class="deleted-item-btn">Deleted</button>
                    }
                </div>
            </div>
        }
    </div>
    <div class="add-catalog">
        @if (!isCatalogFormActive) {
            <div><button class="add-catalog-btn" (click)="toggleCatalogForm()">Add Catalog</button></div>
        } @else {
            <app-create-catalog (cancel)="toggleCatalogForm()"></app-create-catalog>
        }
        <div>
            @if(isProductFormActive) {
                <app-create-product [catalogId]="catalogActiveId" [catalogName]="catalogActiveName" (cancel)="toggleProductForm()"></app-create-product>
            }
        </div>
    </div>
</div>
