/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0;
    height: 649px;
    font-family: 'Roboto Mono', monospace;
}

button:hover {
    cursor: pointer;
    box-shadow: 2px 2px #2E4052;
}

.user-form {
    padding: 5rem 5rem;
    border: 2px solid #412234;
}

.user-form  form {
    height: auto;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}

.user-form form input {
    font-family: 'Roboto Mono', monospace;
    padding: 10px 10px;
    margin: 10px 0;
}

.submit-btn {
    margin: 5px 0;
    padding: 10px 0;
    background-color: #412234;
    color: antiquewhite;
    border: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

.submit-btn:hover {
    background-color: seagreen;
    /* color: black; */
}

label {
    color: #2E4052;
}

p {
    display: flex;
    text-align: center;
    color: #2E4052;
    font-weight: bolder;
    font-size: 1.5rem;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 2rem;
}

.item-list {
    width: 65%;
    padding: 1rem;
    height: 35rem;
    overflow-y: auto;
    border: 2px solid #412234;
    border-radius: 2px;
}

.item-list::-webkit-scrollbar {
    width: 10px;
}

.item-list::-webkit-scrollbar-thumb {
    background-color: #412234;
    border-radius: 1rem;
}

.item-list::-webkit-scrollbar-track {
    /* background-color: #FFC857; */
    border-radius: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #A47963;
    border-radius: 2px;
}

.item .item-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    color: #412234;
    border-radius: 2px;
}

.item .item-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border: 2px solid #412234;
    border-top: 0;
    background-color: #A47963;
    border-radius: 2px;
}

.search {
    border: 2px dotted;
    padding: 1rem;
}

.search input {
    font-family: 'Roboto Mono', monospace;
    padding: 5px 5px;
    /* border-right: none; */
}

.search button {
    padding: 5px 5px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 2px;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    border: 2px solid;
}

.create-form label, .create-form input, .create-form textarea {
    margin-bottom: 1rem;
}

.create-form input, .create-form textarea {
    padding: 5px 5px;
    font-family: 'Roboto Mono', monospace;
}

.create-button-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.create-button-grp button {
    color: antiquewhite;
    padding: 5px 5px;
    border-radius: 2px;
    font-family: 'Roboto Mono', monospace;
}

.create-button-grp .submit-button {
    background-color: seagreen;
    border: 2px solid seagreen;
}

.create-button-grp .cancel-button {
    color: black;
    background-color: #FE6F5E;
    border: 2px solid #FE6F5E;
}

.item .delete-item-btn {
    color: antiquewhite !important;
    background-color: rgb(160, 8, 8) !important;
}

.item .item-info .deleted-item-btn {
    font-weight: bolder;
    color: #2E4052 !important;
    background-color: gainsboro !important;
}

.item .item-info .deleted-item-btn:hover {
    box-shadow: none;
    cursor: auto;
}
