/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0;
    height: 649px;
    font-family: 'Roboto Mono', monospace;
}

.user-form {
    padding: 5rem 5rem;
    border: 2px solid #412234;
}

.user-form form {
    height: auto;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}

.user-form form input {
    font-family: 'Roboto Mono', monospace;
    padding: 10px 10px;
    margin: 10px 0;
}

.submit-btn {
    margin: 5px 0;
    padding: 10px 0;
    background-color: #412234;
    color: antiquewhite;
    border: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

.submit-btn:hover {
    background-color: seagreen;
    /* color: black; */
    cursor: pointer;
}

label {
    color: #2E4052;
}

p {
    display: flex;
    text-align: center;
    color: #2E4052;
    font-weight: bolder;
    font-size: 1.5rem;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 2rem;
}

.search input {
    font-family: 'Roboto Mono', monospace;
    padding: 5px 5px;
    /* border-right: none; */
}

.search button {
    padding: 5px 5px;
    background-color: #412234;
    color: antiquewhite;
    border: solid #412234;
    font-family: 'Roboto Mono', monospace;
}

.search button:hover {
    cursor: pointer;
}