<div class="requester-dashboard dashboard">
    <div class="search">
        <label for="search" hidden="true">Search</label>
        <input type="text" id="search" [(ngModel)]="searchWord" (keydown)="handleMiscSearch($event)" />
        <button class="search-btn" (click)="handleSearch()">Search</button>
    </div>

    <div class="feed">
        @for (product of products; track $index) {
            <div class="product">
                <div class="product-header">
                    <span class="name"><h1>{{product.name}}</h1></span>
                    <span class="category">{{product.category}}</span>
                    <span class="price"><h4>{{product.price}}</h4></span>
                </div>
                <div class="product-info">
                    @if(product.shortDescription) {
                        <div class="short-description" [ngClass]="{'no-long-desc': !product.longDescription}"><p>{{product.shortDescription}}</p></div>
                    }
                    @if(product.longDescription) {
                        <div class="long-description"><p>{{product.longDescription}}</p></div>
                    }
                    @if(!product.shortDescription
                        && !product.longDescription) {
                        <p>No information available about this product</p>
                    }
                </div>
            </div>
        }
    </div>
</div>
