.feed {
    width: 65%;
    padding: 1rem;
    height: 35rem;
    overflow-y: auto;
    border: 2px solid #412234;
}

.feed::-webkit-scrollbar {
    width: 10px;
}

.feed::-webkit-scrollbar-thumb {
    background-color: #412234;
    border-radius: 1rem;
}

.feed::-webkit-scrollbar-track {
    /* background-color: #FFC857; */
    border-radius: 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #A47963;
}

.product .product-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    color: #412234;
}

.product .product-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border: 2px solid #412234;
    border-top: 0;
    background-color: #A47963;
}

.product-info p {
    color: #412234;
}

.short-description {
    font-size: 20px;
    border-bottom: 2px dotted;
}

.short-description p {
    color: #331a10;
}

.long-description p {
    font-size: 1rem;
}

.no-long-desc {
    border-bottom: 0;
}

.search label {
    margin: 0 5px;
}

.search input {
    margin: 0 5px;
}

.search button {
    margin: 0 5px;
}