.product-info p {
    color: #412234;
}

.short-description {
    font-size: 20px;
    border-bottom: 2px dotted;
}

.short-description p {
    color: #331a10;
}

.long-description p {
    font-size: 1rem;
}

.no-long-desc {
    border-bottom: 0;
}

.search label {
    margin: 0 5px;
}

.search input {
    margin: 0 5px;
}

.search button {
    margin: 0 5px;
}