<div class="home">
    <div class="hero-section">
        <!-- <div><h2>We<br/> manage<br/> your</h2></div>
        <div><h1>Catalogs</h1></div> -->
        <!-- <div>
            <h2>We manage your</h2>
        </div> -->
        <div>
            <h1><> Catalogs and Products <></h1>
        </div>
    </div>
    <div class="user-details-form">
        @if (isRegister) {
            <app-register (flush)="handleFlush($event)"></app-register>
            <div class="toggle-form">
                <a (click)="toggleIsRegister()" routerLink="">Login Instead</a>
            </div>
        } @else {
            <app-login (flush)="handleFlush($event)"></app-login>
            <div class="toggle-form">
                <a (click)="toggleIsRegister()" routerLink="">New User? Register</a>
            </div>
        }
    </div>
</div>
