<p>home works!</p>

<div class="home">
    <div class="hero-section">
        <h1>We manage your <span>CATALOGS</span></h1> 
    </div>
    <div class="user-details-form">
        @if (isRegister) {
            <app-register></app-register>
            <div class="toggle-form">
                <a (click)="toggleIsRegister()" routerLink="">Login Instead</a>
            </div>
        } @else {
            <app-login></app-login>
            <div class="toggle-form">
                <a (click)="toggleIsRegister()" routerLink="">New User? Register</a>
            </div>
        }
    </div>
</div>
